body {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}

/* for header*/
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  align-items: center;
  gap: 5px;
  background-color: #f9de8b;
  color: #fefefe;
}

.logo {
  width: 30%;
  color: #8c79b7;
  font-size: 36px;
  font-weight: 700;
  padding: 16px;
}
.searchBar {
  width: 40%;
}
.search-bar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-search {
  width: 80%;
  height: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 10px 20px;
  border: 2px solid #8c79b7;
}
.input-search:focus {
  outline: none;
  border: 1px solid #ffffff;
}
.btn-search {
  height: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0px solid #ffffff;
  background-color: #8c79b7;
  color: #fefefe;
}
.btn-search:hover {
  background-color: #fefefe;
  color: #8c79b7;
}
.profile {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
/*main part where everything else goes*/
main {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto minmax(auto 100px);
  min-height: 90vh;
  gap: 16px;
  justify-content: center;
}
.event-container {
  width: 80%;
  height: fit-content;
  background-color: #4970b5;
  padding: 40px;
  margin: 16px auto 70px;
  border-radius: 30px;
}
.event-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  height: fit-content;
}
.name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.profile-picture-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.first-last-name {
  margin: 0;
  justify-content: left;
  font-weight: 400;
  font-size: 14px;
}
.username {
  margin: 0;
  padding: 0;
  justify-content: left;
  font-size: 16px;
}
.buttons-top {
  display: flex;
  gap: 8px;
  align-items: center;
}
.edit-btn {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #aa7bc3;
  opacity: 5;
  border-radius: 20px;
  padding: 4px 8px;
  margin-top: 8px;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2 {
  color: #000000;
}
p {
  margin-bottom: 4px;
}
#gift-list {
  list-style-type: none;
  padding: 0;
}
#gift-list-title {
  margin-top: 8px;
  border-top: 1px solid #9a9a9a;
  padding-top: 4px;
}

.gift-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #588ec4, transparent);
  padding: 10px;
  border-radius: 5px;
}
.gift-item:hover {
  background: linear-gradient(90deg, #8c79b7, transparent);
}
.gift-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.gift-details h3 {
  margin: 0;
  color: #000000;
}

.gift-details p {
  margin: 5px 0;
  color: #505050;
}

.gift-details a {
  color: #09ff6b;
  text-decoration: none;
}

.gift-details a:hover {
  text-decoration: underline;
}

input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(2.5);
  accent-color: #6f81dd; /*od headero bojata*/
}
.checked-item {
  color: #588ec4;
  background: transparent;
}

/* za add item*/
.add-item {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 2px solid #aa7bc3;
  opacity: 5;
  border-radius: 20px;
  padding: 4px 8px;
  margin-top: 8px;
  background-color: transparent;
  cursor: pointer;
}
.add-item-wrapper {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  display: none;
} /**/
.add-item-wrapper {
  position: fixed; /* Fixed positioning to stay in view */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by half of its own width and height */
  width: 100%;
  max-width: 500px; /* Optional: Set a maximum width */
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it’s above other content */
  display: none; /* Initially hidden */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  backdrop-filter: blur;
}

.add-item-wrapper.active {
  max-height: fit-content;
  display: block;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
}

.add-item-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}
.add-item-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-item-header .close:hover {
  color: var(--primary-clr);
}
.add-item-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-item-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-item-body .add-item-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-item-body .add-item-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}
.add-item-body .add-item-input input::placeholder {
  color: #b587f6;
}
.add-item-body .add-item-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-item-body .add-item-input input:focus::placeholder {
  color: var(--primary-clr);
}
.add-item-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-item-footer .add-item-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}
.add-item-footer .add-item-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

/* for footer */

.footer {
  width: 100%;
  position: relative;
  height: fit-content;
  clear: both;
  background: #8c79b7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  z-index: 2000;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -95px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("Vector 1wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.edit-event-wrapper {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none; /* Initially hidden */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  backdrop-filter: blur;
  padding: 8px;
}
.edit-event-wrapper.active {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
}

.edit-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}
.edit-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.edit-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
}

.edit-event-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
 
  
}

.edit-event-input input {
  width: 100%;
  padding: 0.5rem;
}

.edit-event-footer {
  background-color: #fff;
  padding: 1rem;
  border-top: 1px solid #ddd;
  text-align: right;
}

.save-edit-btn {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.save-edit-btn:hover {
  background-color: #0056b3;
}
