.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "header header"
    "main leftbar"
    "footer footer";
  column-gap: 10px;
  row-gap: 10px;
}
/*  "hero hero" */
.page-header {
  grid-area: header;
}
.page-hero {
  grid-area: hero;
}

.page-leftbar {
  grid-area: leftbar;
}

.page-main {
  grid-area: main;
  padding: 5px;
}

.page-footer {
  grid-area: footer;
}

.content {
  color: #242424;
  background-color: #09ff8c;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

body {
  margin: 0;
  height: 100vh;
}
.navbarContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5px;
  background-color: #131242;
  color: #fefefe;
}
.logo {
  width: 30%;
}
.searchBar {
  width: 50%;
}
.profile {
  width: 20%;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 200px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 10.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 3.2%;}
}
