.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "header header"
    "main leftbar"
    "footer footer";
  column-gap: 10px;
  row-gap: 10px;
}
/*  "hero hero" */
.page-header {
  grid-area: header;
}
.page-hero {
  grid-area: hero;
}

.page-leftbar {
  grid-area: leftbar;
}

.page-main {
  grid-area: main;
  padding: 5px;
}

.page-footer {
  grid-area: footer;
}

.content {
  color: #242424;
  background-color: #09ff8c;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

body {
  margin: 0;
  height: 100vh;
}
.navbarContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5px;
  background-color: #131242;
  color: #fefefe;
}
.logo {
  width: 30%;
}
.searchBar {
  width: 50%;
}
.profile {
  width: 20%;
}

* {
  box-sizing: border-box;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 3.2%;
  }
}
