body {
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* for header*/
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  align-items: center;
  gap: 5px;
  color: #fefefe;
}
.bg-animation {
  background: linear-gradient(-90deg, #ecc8de, #eca6d0, #ef91c9, #e48ac0);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  width: 30%;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  padding: 16px;
}
.searchBar {
  width: 40%;
}
.search-bar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-search {
  width: 80%;
  height: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 10px 20px;
  border: 2px solid #8c79b7;
}
.input-search:focus {
  outline: none;
  border: 1px solid #ffffff;
}
.btn-search {
  height: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0px solid #ffffff;
  background-color: #8c79b7;
  color: #fefefe;
}
.btn-search:hover {
  background-color: #fefefe;
  color: #8c79b7;
}
.profile {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

/*main section*/
main {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto minmax(auto 100px);
  min-height: 90vh;
  gap: 16px;
  justify-content: center;
}
/* for footer */

.footer {
  width: 100%;
  position: relative;
  height: fit-content;
  clear: both;
  background: #8c79b7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  z-index: 2000;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -95px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("Vector 1wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
