:root {
    --prelude: #d4c7e6;
    --azure: #3b52a9;
    --lavender-purple: #8c79b7;
    --scampi: #6663af;
    --seagull: #7ec0e4;
    --fuchsia-pink: #bb63b7;
    --danube: #588ec4;
    --san-marino: #4970b5;
    --bay-of-many: #2e4288;
    --chetwode-blue: #6f81dd;
  }