@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cabcde;
}
:root{
    --primary-clr: #8c79b7;
}

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Noto Serif",serif;
}
.container{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #4970b5;
}
.left{
    width: 90%;
    padding: 20px;
}
.calendar{
    position: relative;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    color:#b587f6;
    border-radius: 5px;
    background-color: #fff;
}
.calendar::before,
.calendar::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6d7;
    transform:translateY(-50%);

}
.calendar::before{
    height: 94%;
    left: calc(100%+12px);
    background-color: rgb(153, 153, 153);
}

.calendar .month{
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next{
    cursor: pointer;
  margin-top: 50px;  
 
  
}

.calendar .month .prev:hover,
.calendar .month .next:hover{
    color: var(--primary-clr);
}
.calendar .weekdays{
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .weekdays div{
    width: 14,28%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.calendar .days .day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #c4abff;
}
.calendar .day:not(.prev-date, .next-date):hover{
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date{
    color: #b3b3b3;
}
.calendar .date{
    position:center;
  margin-top: 50px;  
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;

}
.calendar .days .active{
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .days .active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today{
    font-size: 2rem;
}
.calendar .days .event{
    position:relative;
}
.calendar .days .event::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left:50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}

.calendar .event:hover::after{
background-color: #fff;
}

.calendar .active.event::after{
    background-color: #fff;
    bottom: 20%;
}
.calendar .active.event{
padding-bottom:10px;
}


.calendar .goto-today{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}
.calendar .goto-today{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendar .goto-today button{
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}
.calendar .goto-today button:hover{
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .goto-today .goto button{
    border: none;
    border-radius: 1px solid var(--primary-clr);
    border-radius: 0;
} 