.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 160px;
  grid-template-areas:
    "header header header"
    "calendar-left posts may-know"
    "footer footer footer  ";
  column-gap: 10px;
  row-gap: 10px;
}

.page-header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.page-calendar-left {
  grid-area: calendar-left;
}
.page-may-know {
  grid-area: may-know;
}
.page-posts {
  grid-area: posts;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}

.page-footer {
  grid-area: footer;
  padding-bottom: 10px;
}

.content {
  display: flex;
  color: #242424;
  background-color: #09ff8c00;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;

  padding: 10px;
  justify-content: center;
}

body {
  margin: 0;
}
.navbarContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5px;
  background-color: #f9de8b;
  color: #fefefe;
}
.logo {
  width: 30%;
  color: #8c79b7;
  font-size: 36px;
  font-weight: 700;
}

.searchBar {
  width: 40%;
}
.search-bar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-search {
  width: 80%;
  height: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 10px 20px;
  border: 2px solid #8c79b7;
}
.input-search:focus {
  outline: none;
  border: 1px solid #ffffff;
}
.btn-search {
  height: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0px solid #ffffff;
  background-color: #8c79b7;
  color: #fefefe;
}
.btn-search:hover {
  background-color: #fefefe;
  color: #8c79b7;
}
.profile {
  width: 30%;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 3.2%;
  }
}

/* fot calendar */

.cardCalendar {
  width: 320px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #d3d3f9;
  border: 0.5px solid #8c79b7;
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
}

.calendar-toolbar > .current-month {
  font-size: 20px;
  font-weight: bold;
  color: #19181a;
}

.calendar-toolbar > [class$="month-btn"] {
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #19181a;
  background: #f8f7fa;
  border: none;
  border-radius: 15px;
}

.weekdays,
.calendar-days {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 18px;
}
.weekdays {
  padding-top: 12px;
}
.calendar-days {
  padding-bottom: 12px;
}

.weekday-name,
[class$="-day"] {
  width: 40px;
  height: 40px;
  color: #19181a;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  font-size: 1rem;
}

.weekday-name {
  color: #19181a;
  font-weight: 700;
}

.current-day {
  background-color: #8c79b7;
  color: #f8f7fa;
  border-radius: 40px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.padding-day {
  color: #a5a5a5;
  user-select: none;
}

.calendar-toolbar > [class$="month-btn"]:hover,
.month-day:hover,
.btn:hover {
  border-radius: 40px;
  background-color: #f8f7fa;
  color: #8c79b7;
  transition: 0.1s;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1.5px #8c79b7;
}

.calendar-toolbar > [class$="month-btn"]:focus,
.month-day:focus,
.btn:focus {
  border-radius: 40px;
  background-color: #8c79b7;
  color: #f8f7fa;
}

.goto-buttons {
  border-top: 1px solid #efefef;
  padding-block: 18px;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: #f8f7fa;
  border: none;
  border-radius: 40px;
  padding: 11px 13px;
  color: #19181a;
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 1px;
  box-shadow: 0px 0px 0px #efefef;
}

/* for may-know*/

.people-may-know {
  width: 320px;
  height: fit-content;
}
.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-picture-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.one-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 2px dotted #a79bc6;
  box-shadow: -1px 0px 4px #dacff6;
  padding: 16px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: fit-content;
  width: 100%;
  gap: 5px;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  border-radius: 40px;
  height: fit-content;
  width: 100%;
}

.first-last-name {
  margin: 0;
  justify-content: left;
  font-weight: 400;
  font-size: 14px;
}
.username {
  margin: 0;
  padding: 0;
  justify-content: left;
  font-size: 16px;
}
.follow {
  background: #8c79b7;
  border: none;
  border-radius: 40px;
  padding: 4px 20px;
  color: #f3f3f3;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 0px 0px 0px #efefef;
}
.follow:hover {
  border-radius: 40px;
  background-color: #f8f7fa;
  color: #8c79b7;
  transition: 0.1s;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1.5px #8c79b7;
}
/* for posts */

.pic-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  max-width: min-content;
}

.postsCard {
  width: 600px;
  max-height: 80vh;
  background-color: #ffffff;
  border-radius: 15px;
  border: 0px solid #b9b9b9;
  box-shadow: 2px 2px 10px #beb6d3;
  padding: 10px 20px;
  overflow: hidden;
}

.top-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.post-details {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.username {
  margin: 0;
}
.pic-desc {
  margin: 0;
}
/* for footer */

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: #8c79b7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-animation {
  background: #8c79b7;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  z-index: 2000;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -95px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("Vector 1wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
