

body {
  background-color: #333037;
}

h2 {
  margin: 0;
  font-weight: 400;
}



html.modal-active,
body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  color: #222222;
}
/*for modal containers*/
              /*one*/
              #modal-container.one {
                transform: scale(1);
              }
              #modal-container.one .modal-background {
                background: rgba(0, 0, 0, 0);
                animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.one .modal-background .modal {
                opacity: 0;
                animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.one + .content {
                animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.one.out {
                animation: quickScaleDown 0.85s linear forwards;
              }
              #modal-container.one.out .modal-background {
                animation: fadeOut 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.one.out .modal-background .modal {
                animation: scaleDown 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.one.out + .content {
                animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
            /*two*/
            #modal-container.two {
              transform: scale(1);
            }
            #modal-container.two .modal-background {
              background: rgba(0, 0, 0, 0);
              animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.two .modal-background .modal {
              opacity: 0;
              animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.two + .content {
              animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.two.out {
              animation: quickScaleDown 0.85s linear forwards;
            }
            #modal-container.two.out .modal-background {
              animation: fadeOut 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.two.out .modal-background .modal {
              animation: scaleDown 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.two.out + .content {
              animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            /*three*/
            #modal-container.three {
              transform: scale(1);
            }
            #modal-container.three .modal-background {
              background: rgba(0, 0, 0, 0);
              animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.three .modal-background .modal {
              opacity: 0;
              animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.three + .content {
              animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.three.out {
              animation: quickScaleDown 0.85s linear forwards;
            }
            #modal-container.three.out .modal-background {
              animation: fadeOut 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.three.out .modal-background .modal {
              animation: scaleDown 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.three.out + .content {
              animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            /*four*/
            #modal-container.four {
              transform: scale(1);
            }
            #modal-container.four .modal-background {
              background: rgba(0, 0, 0, 0);
              animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.four .modal-background .modal {
              opacity: 0;
              animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.four + .content {
              animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.four.out {
              animation: quickScaleDown 0.85s linear forwards;
            }
            #modal-container.four.out .modal-background {
              animation: fadeOut 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.four.out .modal-background .modal {
              animation: scaleDown 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
            #modal-container.four.out + .content {
              animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
              /*five*/
              #modal-container.five {
                transform: scale(1);
              }
              #modal-container.five .modal-background {
                background: rgba(0, 0, 0, 0);
                animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.five .modal-background .modal {
                opacity: 0;
                animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.five + .content {
                animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.five.out {
                animation: quickScaleDown 0.85s linear forwards;
              }
              #modal-container.five.out .modal-background {
                animation: fadeOut 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.five.out .modal-background .modal {
                animation: scaleDown 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }
              #modal-container.five.out + .content {
                animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
              }

#modal-container .modal-background {
  display: table-cell; /* Fixed positioning to cover the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
#modal-container .modal-background .modal {
  max-width: 80%; /* Optional: responsive width */
  max-height: 80%; /* Optional: responsive height */
  position: relative; /* Ensure proper positioning */
  width: 800px;
  height: 600px;
  display: flex;
  overflow:auto;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 6px;
}
.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: 100%;
  height:100%;

  display: block;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 500px;
    border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#modal-container.side {
  transform: scale(1);
}

#modal-container.side .modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0;
  transform: scale(1);
  padding: 0;
  left: auto;
}

#modal-container.side .modal .modal-background {
  transform: scale(1);
}

#modal-container.side {
  animation: sideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.side .modal-background .modal {
  animation: sideModalIn 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.side.out {
  transform: scale(1);
  animation: sideOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.side.out .modal-background .modal {
  animation: sideModalOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes sideIn {
  0% {
    opacity: 0;
    background: rgba(0 0 0 / 0%);
  }
  100% {
    opacity: 1;
    background: rgba(0 0 0 / 50%);
  }
}

@keyframes sideOut {
  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
  }
}

@keyframes sideModalIn {
  0% {
    opacity: 0;
    transform: scale(1) translateX(240px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes sideModalOut {
  100% {
    transform: translateX(240px);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}




  h3 {
    margin: 0;
    font-weight: 400;
  }
  
  .dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px); /* Increase row height for better image fit */
    gap: 24px;
    padding: 25px;
  }
  
  @media (min-width: 620px) {
    .card {
      min-width: 60%;
    }
  

  
    .dashboard {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .card {
    padding: 16px; /* Reduced padding to give more space for images */
    border-radius: 16px;
    background: var(--color-bg);
    box-shadow: 5px 5px 20px #1a1a3325, -5px -5px 20px #37376b7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .card button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding: 20px; /* Add padding to the content inside the button */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    
  }
  .card button h2 {
    margin: 0; /* Ensure the heading has no margin */
    color: inherit; /* Ensure the heading text color matches the button text color */
  }
  .card .more {
    margin-bottom: 16px;
  }
  
  .card h2 {
    font-size: 16px;
    text-align: center;
  }
  
  
  .card.primary {
    background: var(--gradient);
  }
  